@model IEnumerable<KenKata.Shared.Models.Entities.PostEntity>

@{
    ViewData["Title"] = "Index";
}

<div class="ken-container mt-5">
    <h1>Blog</h1>

<p class="mt-4 text-turquoise">
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive mt-3">
    <table class="table">
    <thead>
        <tr>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Rubrik)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th class="col-2">
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rubrik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogCategory.Name)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
</div>
